* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
}

#background-video {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

nav ul li {
    padding: 0 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav ul li:hover {
    color: #ffeb3b;
}

.brand img {
    width: 44px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    height: calc(100vh - 52px - 52px); /* Full height minus nav and bottom bar height */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 95%;
    max-width: 945px;
    border-radius: 12px;
    background-image: url(star.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;
}

.song-list {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

.song-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.songItemcontainer {
    flex: 1; /* Take the remaining space */
    overflow: auto; /* Make the container scrollable */
}

.song-item {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: rgb(255, 253, 253);
    margin: 10px 0;
    padding: 22px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    height: 7vh;
    width: 100%;
}

.song-item:hover {
    transform: scale(1.05);
    background-color: #000000;
}

.song-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.timestamp {
    margin: 0 10px;
}

.timestamp i {
    cursor: pointer;
}

.bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.time-info {
    display: flex;
    align-items: center;
    width: 30%;
}

#timebar {
    width: 60%;
    margin: 0 10px;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.icone i {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icone i:hover {
    transform: scale(1.2);
    color: #ffeb3b;
}

.sound-controller {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

#volume-bar {
    width: 60%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);

}


}

@media only screen and (max-width: 600px){
    .time-info{
        width: 100%;
        margin-bottom: 15px;
    }
    .icone{
        width: 97%;
    }
    .bottom{
        flex-direction: column;
        height: 70px;
    }
    #timebar{
        width: 80%;
    }
    .sound-controller{
        display: none;
    }
    .icone i{
        font-size: 35px;
    }
    .song-list h1 {
        font-size: 19px
    }
}